
/* Person.css
.Person{
    width: 60%;
    margin: 16px auto ;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}
.btn{
    background-color: greenyellow;
    font: 'inherit';
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;
}
 */






/* import React from 'react';
   import './Person.css';

const person = ( props ) => {
    return (
        <div className='person'>
            <p onClick={props.click}>I'm {props.name} and I am {props.age} years old!</p>
            <p>{props.children}</p>
            <input type="text" onChange={props.changed} value={props.name} />
        </div>
    )
};

export default person;
 */


import React, { Component } from 'react';
import './App.css';
import Person from './Person/Person';
import './Person.css';

class App extends Component {
  state = {
    persons: [
      { name: 'Zohaib', age: 24 },
      { name: 'Yasir', age: 23 },
      { name: 'Ayaz', age: 22 }
    ],
    otherState: 'some other value'
  }

  switchNameHandler = (newName) => {
    // console.log('Was clicked!');
    // DON'T DO THIS: this.state.persons[0].name = 'Maximilian';
    this.setState( {
      persons: [
        { name: newName, age: 28 },
        { name: 'Tehmoor', age: 29 },
        { name: 'Zeeshan', age: 27 }
      ]
    } )
  }

  nameChangedHandler = (event) => {
    this.setState( {
      persons: [
        { name: 'Ali', age: 28 },
        { name: event.target.value, age: 29 },
        { name: 'Naqash', age: 26 }
      ]
    } )
  }

  render () {
    return (
      <div className="App">
        <h1>Hi, I'm a React App</h1>
        <p>This is really working!</p>
        <button className='btn' onClick={() => this.switchNameHandler('Raci')}>Switch Name</button>
        <Person 
          name={this.state.persons[0].name} 
          age={this.state.persons[0].age} />
        <Person 
          name={this.state.persons[1].name} 
          age={this.state.persons[1].age}
          click={this.switchNameHandler.bind(this, 'Usman')}
          changed={this.nameChangedHandler} >My Hobbies: Racing</Person>
        <Person 
          name={this.state.persons[2].name} 
          age={this.state.persons[2].age} />
      </div>
    );
    // return React.createElement('div', {className: 'App'}, React.createElement('h1', null, 'Does this work now?'));
  }
}

export default App;
